{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "jsx", "markup"],
        "plugins": [""],
        "css": false
      }
    ]
  ]
}
