:root {
  --text: #242424;
  --lighter: #464646;
  --light: #97a1aa;
  --primary: #2b85d0;
  --primary2: #0c7dcd;
  --secondary: #ff8c1d;

  --greybg: #f9fafb;
  --greybg-border: #eaedf1;
}

a {
  color: var(--primary);
}

h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--text);
  margin: 0;
  margin-bottom: 32px;
  margin-top: 76px;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--text);
  margin: 0;
  margin-bottom: 16px;
  margin-top: 48px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--text);
  margin: 0;
  margin-bottom: 8px;
  margin-top: 48px;
}

.docs h1 {
  margin-top: 0px;
}

.docs p {
  margin: 0;
}

.docs p code,
.docs li code,
.inline-code,
.detail code {
  background-color: #f3f6f9;
  color: #175588;
  border-radius: 3px;
  font-family: Fira Mono;
  padding: 2px 4px;
  letter-spacing: -0.6px;
}

.docs .label {
  color: #57616b;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 16px;
}

.docs .type {
  font-family: Fira Mono;
  font-size: 16px;
  letter-spacing: -0.6px;
  color: #586773;
}

.docs .detail .prop {
  font-size: 16px;
}

.docs .detail .type {
  font-size: 13px;
}

.docs .detail .type + p {
  margin-top: 8px;
}

.docs .type + p {
  margin-top: 12px;
}

.docs p + .prop {
  margin-top: 48px;
}

.docs .detail img {
  position: absolute;
  left: -32px;
  top: 22px;
}

.docs .detail p {
  margin-bottom: 24px;
}

.docs .type .arg {
  color: #232323;
}

.docs .str {
  color: var(--secondary);
  font-family: Fira Mono;
  letter-spacing: -0.6px;
}

.docs .type .entity.linked {
  color: var(--secondary);
}

.docs .type .entity {
  color: var(--primary2);
  font-weight: 700;
}

.docs .entity {
  color: var(--primary2);
  font-family: Fira Mono;
  letter-spacing: -0.6px;
}
.docs .entity.linked {
  color: var(--secondary);
}

.docs .detail {
  background-color: var(--greybg);
  padding: 16px;
  border-radius: 3px;
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 16px;
  position: relative;
}

.docs .detail .title {
  color: var(--secondary);
  font-weight: 700;
  font-family: Fira Mono;
  font-size: 18px;
  margin-bottom: 24px;
  letter-spacing: -0.6px;
}

html {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  line-height: 1.6;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
    line-height: 1.6;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}

#top-features + ul {
  list-style: none;
}

#top-features + ul li {
  position: relative;
  margin-bottom: 8px;
}

#top-features + ul li:before {
  content: "✔︎";
  font-size: 20px;
  position: absolute;
  left: -32px;
  top: 0;
  color: #7db316;
}
