.popper {
  --border-color: var(--background-color);
  pointer-events: none;
  z-index: 100;
}
.popper > div {
  border: 1px solid var(--border-color);
}
.popper .arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  transform: translateY(-2px) translateX(-1px) rotate(45deg) translateY(1px)
    translateX(1px);
  transform-origin: center;
  background-color: var(--background-color);
  border: 0px solid var(--border-color);
}
.popper.laag .arrow {
  transform: translateY(50%) translateX(-50%) rotate(45deg);
}
.popper.laag .arrow.top,
.popper.laag .arrow.bottom {
  border-radius: 3px 0;
}
.popper.laag .arrow.left,
.popper.laag .arrow.right {
  border-radius: 0 3px;
}
.popper[data-placement^="top"] .arrow,
.popper[data-placement^="bottom"] .arrow {
  border-radius: 3px 0;
}
.popper[data-placement^="left"] .arrow,
.popper[data-placement^="right"] .arrow {
  border-radius: 0 3px;
}
.popper[data-placement^="top"] {
  margin-bottom: 9px;
}
.popper[data-placement^="top"] .arrow {
  bottom: -8px;
  left: calc(50% - 6px);
  border-width: 0 1px 1px 0;
}
.popper[data-placement^="bottom"] {
  margin-top: 9px;
}
.popper[data-placement^="bottom"] .arrow {
  top: -6px;
  left: calc(50% - 6px);
  border-width: 1px 0 0 1px;
}
.popper[data-placement^="left"] {
  margin-right: 9px;
}
.popper[data-placement^="left"] .arrow {
  right: -8px;
  top: calc(50% - 6px);
  border-width: 1px 1px 0 0;
}
.popper[data-placement^="right"] {
  margin-left: 9px;
}
.popper[data-placement^="right"] .arrow {
  left: -6px;
  top: calc(50% - 6px);
  border-width: 0 0 1px 1px;
}
